.form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.full-width {
    font-size: large;
    width: 100%;
}

.custom-height{
    margin-top: -2px;
    margin-bottom: -2px;
    height: 200px;
}

.title {
    font-size: xx-large;
    font-weight: bold;
}