<div class="gridRowInside">
    <div class="spinner" *ngIf="loading">
        <mat-spinner
            diameter='30'
            [color]="'accent'"
            [mode]="'indeterminate'"
        ></mat-spinner>
    </div>
    <div *ngIf="!nodata && !loading && totalStats.data.length"  class="col-12 col-s-6 total-stat-bloc">
        <div>
            <mat-table [dataSource]="totalStats.data" class="mat-elevation-z8">
                <!-- State Column -->
                <ng-container matColumnDef="position">
                    <mat-header-cell *matHeaderCellDef> {{totalStats.jobName}}</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.state}} </mat-cell>
                </ng-container>

                <!-- Number of jobs Column -->
                <ng-container matColumnDef="name">
                    <mat-header-cell style="justify-content: flex-end;" *matHeaderCellDef> # </mat-header-cell>
                    <mat-cell style="justify-content: flex-end" *matCellDef="let element">
                        <mat-chip [ngStyle]="jobTypesColors[element.state]">{{element.number}}</mat-chip>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
        </div>
    </div>
    <div  *ngIf="!nodata && !loading && totalStats.data.length && jobSelected"  class="col-12 col-s-6">
        <div>
            <mat-table  [dataSource]="jobSelected.data"
                class="mat-elevation-z8">
                <!-- State Column -->
                <ng-container matColumnDef="position">

                    <mat-header-cell *matHeaderCellDef>
                        <div style="width: 100%; margin-top: 5px;">
                            <mat-form-field style="display: block">
                                <mat-label>Job Name</mat-label>
                                <mat-select [(value)]="jobTypeSelected" (selectionChange)="getStatsForJob($event.value)">
                                    <mat-option *ngFor="let jobType of jobsTypes" [value]="jobType">
                                        {{jobType}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.state}} </mat-cell>
                </ng-container>
                <!-- Number of jobs Column -->
                <ng-container matColumnDef="name">
                    <mat-header-cell style="justify-content: flex-end;" *matHeaderCellDef> # </mat-header-cell>
                    <mat-cell style="justify-content: flex-end" *matCellDef="let element"> 
                        <mat-chip [ngStyle]="jobTypesColors[element.state]">{{element.number}}</mat-chip>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
        </div>

    </div>
</div>