
.gridRowInside {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    margin-right: 10px;
}

.total-stat-bloc{
    margin-bottom: 5px;
}

.spinner{
    padding-top: 50px;
}