.help{
    position: fixed;
    top: 5px;
    right: 5px;
    background-color: unset;
    width: min-content;
    height: min-content;
}

.logo{
    height: 4rem;
}

.logo-container{
    min-width: max-content;
}

.table-list {
    width: 100%;
}

.mat-standard-chip {
    min-height: 25px;
}

.mat-chip.mat-standard-chip.mat-chip-selected.mat-primary.completed {
    background-color: green;
}

.mat-chip.mat-standard-chip.mat-chip-selected.mat-primary.repeat {
    background-color: lightblue;
    color: black;
}

.mat-form-field {
    font-size: 14px;
    width: 80%;
    margin: 0 10%;
}

.head {
    font-size: 14px;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}

.space {
    flex: 1 1 auto;
}

.container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.d-toggle{
    height: 40px;
}

.d-filter {
    margin-left: 0px;
    margin-right: 20%;
    width: 20%;
}

.d-toolbar {
    display: flex;
}

.table-container {
    max-height: 85vh;
    overflow: auto;
}