<table *ngIf="JOB_DATA.length" mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                      [aria-label]="checkboxLabel()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)"
                      [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
      </td>
    </ng-container>
  
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef> type </th>
      <td mat-cell *matCellDef="let element"> {{element.type}} </td>
    </ng-container>
  
    <ng-container matColumnDef="lastRunAt">
      <th mat-header-cell *matHeaderCellDef> lastRunAt </th>
      <td mat-cell *matCellDef="let element"> {{element.lastRunAt | amTimeAgo}} </td>
    </ng-container>
  
    <ng-container matColumnDef="nextRunAt">
      <th mat-header-cell *matHeaderCellDef> nextRunAt </th>
      <td mat-cell *matCellDef="let element"> {{element.nextRunAt | amTimeAgo}} </td>
    </ng-container>

    <ng-container matColumnDef="repeatInterval">
      <th mat-header-cell *matHeaderCellDef> repeatInterval </th>
      <td mat-cell *matCellDef="let element"> {{element.repeatInterval}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        (click)="selection.toggle(row)">
    </tr>
  </table>